.person-list-container {
    display: flex;
    gap: 2rem;
}

.input-field {
  padding: 0.5rem;
  padding-left: 2rem;
  border: 1px solid;
  border-radius: 4px;
  padding-top: 3rem;
  width: 300px;
}

.add-button {
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #59edc1;
  color: #34355b;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 2rem;

}

input:-internal-autofill-selected {
  background-color: none !important;
}